# Sunodo files and directories
dapp/.sunodo
dapp/dapp
scripts/node_modules
scripts/cache
scripts/out
scripts/wallets.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/settings.json
exchange/.bash_history
.gitignore
exchange/exchange-emu.ext2
